.formulario-login {
    background-color: var(--primary-color);
    padding: 13rem 3rem;
    padding-top: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    max-width: 35rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
}

.login-form__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.login-form__actions .btn {
    max-width: 20rem;
}
