.payment--container {
    background-color: var(--primary-color);
}

.payment {
    max-width: 140rem;
    padding: 13rem 1.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

@media only screen and (min-width: 37.5em) {
    .payment {
        padding: 13rem 3.5rem;
    }
}

.payment--headers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.payment--list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5rem;
}
