.pet-card {
    background-color: var(--white-color);
    cursor: pointer;
    min-width: 20rem;
    max-width: 30rem;
    border-radius: 0.5rem;
    transition: all 0.3s;
}
.pet-card:hover {
    transform: translateY(-0.5rem);
}

.pet-card__image {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    object-fit: cover;
    width: 100%;
    height: 20rem;
}

.pet-card__info {
    padding: 1.5rem 2rem 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.pet-card__name {
    text-decoration: underline;
    text-decoration-color: var(--tertiary-color);
    padding-bottom: -0.5rem;
}

.pet-card__type {
    color: var(--tertiary-color);
    font-weight: 800;
    text-transform: uppercase;
}

.pet-card__birthdate {
    align-self: flex-end;
}
