.card {
    background-color: var(--card-color);
    border-radius: 1.2rem;
    color: var(--paragraph-color);
    cursor: pointer;
    padding: 1.8rem 2rem 2rem 3rem;
    width: 35rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: transform 0.3s;
}
.card:hover {
    border: 2px solid rgb(43, 30, 139);
    transform: scale(1.01);
}

.card.selected {
    border: 2px solid var(--tertiary-color);
}
.card.selected:hover {
    border: 2px solid var(--tertiary-color);
    transform: none;
}

.card__primary {
    display: flex;
    flex-direction: column;
}
.card__secondary {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.card__mask {
    font-size: 3rem;
    letter-spacing: 0.1rem;
}
.card__chip {
    margin-bottom: -0.4rem;
    margin-left: -0.5rem;
    width: 5.5rem;
}

.card__expiration {
    align-self: flex-end;
}

.card__name {
    align-self: flex-end;
    font-size: 1.9rem;
    font-weight: 800;
    text-transform: uppercase;
    transform: skewX(-7deg);
}
