.service-card {
    background-color: var(--white-color);
    min-width: 20rem;
    max-width: 30rem;
    border-radius: 0.5rem;
    transition: all 0.3s;
}


.service-card__image {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    object-fit: cover;
    width: 100%;
    height: 20rem;
}

.service-card__info {
    padding: 1.5rem 2rem 4rem 2rem;
}
.service-card__name {
    
}