.pet-register {
    background-color: var(--primary-color);
    padding: 13rem 3rem;
    padding-top: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pet-register__headers {
    max-width: 50rem;
}

.pet-register__form {
    max-width: 35rem;
    min-width: 20rem;
}

.pet-register__form .btn {
    max-width: 20rem;
}

.ant-upload-list-item-name {
    color: var(--paragraph-color);
}

.ant-upload-list-item-card-actions-btn svg {
    color: red;
}